* {
  margin: 0;
}
body {
  width: 100vw;
  background-color: #f3ebe2;
}

nav {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 5rem;
  background-color: #928771;
  margin-bottom: 10px;
}

a.botao {
  display: inline-block; /* Para padding funcionar bem */
  padding: 10px 20px;
  background-color: #d7bca7;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 20px;
}
a.botao:hover {
  opacity: 0.8;
}

div.listagem {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listagem h1 {
  font-size: 8vh;
  font-family: "Courier New", Courier, monospace;
}

.listagem table {
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
}

.listagem table th {
  font-size: 3vh;
  text-align: center;
  padding: 3px 3px;
  border: solid red 1px;
}

.listagem table td:nth-child(-n + 4) {
  font-size: 2vh;
  text-align: center;
  padding: 3px 7px;
  border-left: solid red 1px;
  border-right: solid red 1px;
}
.listagem table tr:last-child td:nth-child(-n + 4) {
  border-bottom: solid red 1px;
}
