div.listagem {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listagem h1 {
  font-size: 8vh;
  font-family: "Courier New", Courier, monospace;
}

.listagem table {
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
}

.listagem table th {
  font-size: 3vh;
  text-align: center;
  padding: 3px 3px;
  border: solid red 1px;
}

.listagem table td:nth-child(-n + 5) {
  font-size: 2vh;
  text-align: center;
  padding: 3px 7px;
  border-left: solid red 1px;
  border-right: solid red 1px;
}

.listagem table tr:last-child td:nth-child(-n + 5) {
  border-bottom: solid red 1px;
}

.listagem table tr td button a {
  text-decoration: none;
  color: inherit;
}

.listagem table tr td:nth-child(1),
.listagem table tr th:nth-child(1) {
  min-width: 7.5vw;
  max-width: 20vw;
}

.listagem table tr td:nth-child(3),
.listagem table tr th:nth-child(3) {
  min-width: 7.5vw;
  max-width: 20vw;
}

.listagem table tr td:nth-child(4),
.listagem table tr th:nth-child(4) {
  min-width: 7.5vw;
  max-width: 20vw;
}
