nav {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 5rem;
  background-color: #928771;
  margin-bottom: 10px;
}

a.botao {
  display: inline-block; /* Para padding funcionar bem */
  padding: 10px 20px;
  background-color: #d7bca7;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 20px;
}
a.botao:hover {
  opacity: 0.8;
}
