.lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.lista table {
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
}
.lista table th {
  font-size: 2.5vh;
  text-align: center;
  padding: 3px 3px;
  border: solid red 1px;
}
.lista table td:nth-child(-n + 1) {
  font-size: 2vh;
  text-align: center;
  padding: 3px 7px;
  border-left: solid red 1px;
  border-right: solid red 1px;
}
.lista table:last-child td:nth-child(-n + 1) {
  border-bottom: red 1px solid;
}
.lista table tr th:nth-child(1),
.lista table tr td:nth-child(1) {
  min-width: 10vw;
  max-width: 20vw;
}
