{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'livros/all.css' %}" />
    <link rel="stylesheet" href="{% static 'livros/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'livros/listagem.css' %}" />
    <title>editcatalogo</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'home' %}" class="botao">Voltar ao Catalogo</a>
      <a href="{% url 'addLivro' %}" class="botao">Add Livro</a>
      <a href="{% url 'addAutor' %}" class="botao">Autores</a>
      <a href="{% url 'addEditora' %}" class="botao">Editoras</a>
      <a href="{% url 'addCategoria' %}" class="botao">Categorias</a>
    </nav>
    <div class="listagem">
      <h1>Catalogo de Livros</h1>
      <table>
        <tr>
          <th>Titulo</th>
          <th>Autor</th>
          <th>Editora</th>
          <th>Categoria</th>
          <th>Lançamento</th>
        </tr>
        {% for Livro in Livros %}
        <tr class="edittr">
          <td>{{Livro.titulo}}</td>
          <td>{{Livro.autor}}</td>
          <td>{{Livro.editora}}</td>
          <td>{{Livro.categoria}}</td>
          <td>{{Livro.lancamento}}</td>
          <td>
            <button>
              <a href="{% url 'editLivro' Livro.id %}">Editar</a>
            </button>
          </td>
          <td>
            <button>
              <a href="{% url 'deleteLivro' Livro.id %}">Excluir</a>
            </button>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
