{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AddLivro</title>
    <link rel="stylesheet" href="{% static 'livros/all.css' %}" />
    <link rel="stylesheet" href="{% static 'livros/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'livros/form.css' %}" />
  </head>
  <body>
    <nav>
      <a href="{% url 'home' %}" class="botao">Voltar ao Catalogo</a>
      <a href="{% url 'editCatalogo' %}" class="botao">Voltar ao Editor</a>
      <a href="{% url 'addAutor' %}" class="botao">Autores</a>
      <a href="{% url 'addEditora' %}" class="botao">Editoras</a>
      <a href="{% url 'addCategoria' %}" class="botao">Categorias</a>
    </nav>
    <div class="form">
      <h1>Edite seu livro aqui</h1>
      <form action="" method="post">
        {% csrf_token %} {{form}}<button type="submit">Editar</button>
      </form>
    </div>
  </body>
</html>
